<div class="col-md-6 center" >
    <form [formGroup]="form">
        <div class="form-group">
            <label for="uname">Name</label>
            <input formControlName="name" id="uname" name="name" type="text" class="form-control"
                [(ngModel)]="data.Name" >
            <div *ngIf="form.controls.name.touched && form.controls.name.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.name.errors.required">name required.</div>
                <div *ngIf="form.controls.name.errors.minlength">name required min
                    {{form.controls.name.errors.minlength.requiredLength}} characters.</div>

            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" id="email" name="email" type="email" class="form-control"
                [(ngModel)]="data.email">
            <div *ngIf="form.controls.email.touched && form.controls.email.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.email.errors.required"> Email is required</div>
                <div *ngIf="form.controls.email.errors.pattern"> Email pattern invalid.</div>

            </div>
        </div>
        
        <div class="form-group">
            <label for="age">Age</label>
            <input formControlName="age" name="age" id="age" type="number" class="form-control"
                [(ngModel)]="data.age">
            <div *ngIf="form.controls.age.touched && form.controls.age.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.age.errors.required">Age required.</div>
            </div>
        </div>
        <div class="form-group">
        <label for="location">Location</label>
        <input formControlName="location" name="location" id="location" type="text"  class="form-control" [(ngModel)]="data.location">
         <div *ngIf="location.touched && location.invalid" class="alert alert-danger">
            <div *ngIf="location.errors.required">location required.</div>
      
        </div>
    </div>
    
    <div class="form-group">
            <label for="gender">Gender : </label>
            <input type="radio" class="marginLeft10" name="gender" value='Male' formControlName="gender"
                [(ngModel)]="data.gender"> Male
            <input type="radio" name='gender' value='Female' formControlName="gender" [(ngModel)]="data.gender"> Female
            <input type="radio" name="gender" value='Other' formControlName="gender" [(ngModel)]="data.gender"> Others
        </div>
        <div class="form-group">
            <label for="aadhar">Aadhar Number</label>
            <input formControlName="aadhar" name="aadhar" id="aadhar" type="number" class="form-control"
                [(ngModel)]="data.aadhar">
            <div *ngIf="form.controls.aadhar.touched && form.controls.aadhar.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.aadhar.errors.required">Aadhar Number required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="pan">PAN Number</label>
            <input formControlName="pan" name="pan" id="pan" type="text" class="form-control"
                [(ngModel)]="data.pan">
            <div *ngIf="form.controls.pan.touched && form.controls.pan.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.pan.errors.required">PAN Number required.</div>
            </div>
        </div>
    
        <div>
            <label for="checkbox"></label>
            <input type="checkbox" id="cb" class="checkbox" (change)="isFormValid($event)"> Form Validation.
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid"
            (click)="submitForm(form)">submit</button>
    </form>
</div>
<div class="col-md-6 center">
    <ul>
        <table class="table">
            <tr *ngFor="let data of dataArray; let i = index">
                <td>{{i}}</td>
                <td>{{data.Name}}</td>
                <td>{{data.email}}</td>
                <td>{{data.age}}</td>
                <td>{{data.location}}</td>
                <td><a href="javascript:void(0)" (click)="getData(i)">edit</a></td>
                <td><a href="javascript:void(0)" (click)="delete(i)">delete</a></td>
            </tr>
        </table>
    </ul>
</div>